/* Header Dictionary Language  */

.header__dictlang-mobile,
.header__dictlang {
  position: absolute;
  /* top: 100%; */
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 32px;
  height: 50px;
  min-width: 650px;
  z-index: 9;
}

.header__dictlang-mobile {
  display: none;
}

.header__dictlang-item {
  border-radius: 32px;
  /* background-color: var(--white-color); */
  height: 100%;
  min-width: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
  position: relative;
  flex: 1;
}

.header__dictlang-item:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.header__dictlang-item-title {
  color: var(--blue-vinuni-color);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.header__dictlang-btn {
  --height: 44px;
  border-radius: 50%;
  background-color: var(--red-vinuni-color);
  height: var(--height);
  line-height: var(--height);
  padding: 0 14px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -0%);
}

/* .header__dictlang-btn--full {
    border-radius: 30px;
}
.header__dictlang-btn--full .header__dictlang-btn-text {
    display: inline-block;
} */

.header__dictlang-btn:hover {
  background-color: var(--red-vinuni-color);
  cursor: pointer;
}

.header__dictlang-btn-icon {
  font-size: 1.6rem;
  position: relative;
  top: 2px;
  color: var(--white-color);
}

@media (max-width: 739px) {
  .header__dictlang {
    /* display: none; */
    display: flex;
    max-width: 250px;
    min-width: 30px;
  }

  .header__dictlang-item {
    font-size: 1.4rem;
    min-width: 30px;
    font-weight: 600;
  }

  #header__dictlang-en {
    visibility: hidden;
    position: relative;
  }

  #header__dictlang-en:after {
    visibility: visible;
    content: "EN";
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    left: 20%;
  }

  #header__dictlang-vn {
    visibility: hidden;
    position: relative;
  }

  #header__dictlang-vn:after {
    visibility: visible;
    content: "VN";
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    left: 20%;
  }
}