/* Footer */

/*-- footer --*/
.footer-bot {
    background: var(--blue-vinuni-color);
    padding: 24px 0;
    /* margin-top: 100px; */
  }
  
  .footer-connection {
    /* float: left; */
    /* width: 40%; */
    /* background: var(--red-vinuni-color); */
    /* padding: 20px 40px 20px 40px; */
    /* margin-top: -60px; */
    /* border-radius: 0 15px 15px 0; */
    text-align: center;
    padding-bottom: 16px;
  }
  
  .footer-connection h3 {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-bottom: 16px;
  }
  
  .footer-social-icon {
    margin-top: 2em;
  }
  
  .footer-social-icon i {
    font-size: 17px;
    color: var(--white-color);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2.3;
    transition: 0.5s all;
    border: 1px solid var(--white-color);
    border-radius: 90px;
  }
  
  #icon-github {
    margin-right: 6px;
  }
  
  .footer-connection i:hover {
    background: var(--red-vinuni-color);
    color: var(--white-color);
    transition: 0.5s all;
  }
  
  /*-- Email information --*/
  .footer-contact-email {
    float: left;
    width: 70%;
    padding-left: 48px;
  }
  
  .footer-contact-email h3 {
    color: var(--white-color);
    font-size: 2.6rem;
    margin-bottom: 16px;
  }
  
  .footer-contact-email h3 i {
    margin-right: 20px;
  }
  
  .footer-contact-email input[type="email"] {
    width: 75%;
    padding: 10px;
    outline: none;
    color: var(--blue-vinuni-color);
    letter-spacing: 1px;
    font-size: 1.4rem;
    border: none;
    background: var(--white-color);
    border-radius: 6px;
  }
  
  .footer-contact-email input[type="submit"] {
    background: var(--red-vinuni-color);
    color: var(--white-color);
    font-size: 1.4rem;
    letter-spacing: 1px;
    border: none;
    padding: 10px 0;
    width: 15%;
    transition: 0.5s all;
    border-radius: 6px;
  }
  .footer-contact-email input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: var(--white-color) 0px 0px 8px;
  }
  
  .footer-info {
    margin-bottom: 40px;
  }
  
  /* Footer navigation */
  
  .footer-navbar {
    padding-right: 180px;
    padding-left: 180px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .footer-navbar-menu {
    margin-top: 20px;
    text-align: right;
  }
  
  .footer-navbar-menu ul li {
    display: inline-block;
    /* margin: 0 11px; */
  }
  
  .footer-navbar-menu ul li a {
    transition: 0.5s all;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: 2px;
  }
  .footer-navbar-menu ul li a:hover {
    color: var(--red-vinuni-color);
  }
  
  .copy-right {
    margin-top: 24px;
    border-top: 1px solid var(--white-color);
    padding-top: 24px;
  }
  
  .copy-right p {
    color: var(--white-color);
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.4rem;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
    display: none;
  }


  @media (max-width: 739px) {
    
  /* Footer */

  .footer-connection {
    padding: 20px;
    text-align: center;
  }

  .footer-connection h3 {
    font-size: 2.2rem;
  }

  .footer-contact-email {
    width: 65%;
    padding-left: 20px;
  }

  .footer-contact-email h3 {
    font-size: 2.2rem;
  }

  .footer-navbar {
    padding-right: 48px;
    padding-left: 48px;
  }

  .separation_line {
    display: block;
    max-width: 80%;
    justify-content: center;
  }
  }