.header {
    background: url(../img/background6.jpg) center / cover no-repeat;
    height: 700px;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  }
  
  .header-top {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    --padding-bottom: 0px;
    background-color: var(--blue-vinuni-color);
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 8px;
    position: fixed;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    min-height: 80px;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* LOGO */
.header__logo {
    height: 55px;
    /* display: flex; */
    /* flex-direction: row;
      flex-wrap: wrap; */
  }
  
  .header_logo-img {
    width: 40px;
    margin-left: 18%;
  }
  
  .header_logo-name {
    font-size: 1.8rem;
    font-weight: 700;
  }

  /* Header Middle */

.header__navbar {
    margin: 0 -16px;
  }
  
  .header__navbar-item {
    --height: 40px;
    font-size: 1.6rem;
    background-color: transparent;
    height: var(--height);
    line-height: var(--height);
    padding: 0 24px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-shadow: 2px 2px 5px var(--black-color);
    text-decoration: none;
    color: var(--white-color);
  }
  
  .header__navbar-normal {
    display: flex;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
  }
  
  .header__navbar-item:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--red-vinuni-color);
    text-decoration: none;
    color: var(--white-color);
  }

  /* Header Right */

.header__weblang-item {
    height: 42px;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 0 12px;
  }
  
  .header__weblang-menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 21px;
    position: relative;
    cursor: pointer;
  }
  
  .header__weblang-menu-icon {
    font-size: 1.4rem;
    color: var(--blue-vinuni-color);
    margin-right: 12px;
  }
  
  .header__weblang-globe-icon {
    font-size: 2.6rem;
    color: #021630;
    opacity: 0.8;
  }
  
  .header__weblang-sub {
    position: absolute;
    top: 85%;
    right: 0;
    min-width: 120px;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 16%) 0px 6px 16px;
    padding: 12px 0;
    transition: opacity 0.2s ease-in-out;
    display: none;
    animation: fadeIn ease-in-out 0.2s;
    z-index: 10;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header__weblang-sub-button {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 10px 16px;
    width: 100%;
    background-color: var(--white-color);
    color: var(--blue-vinuni-color);
  }

  .header__weblang-sub-button a:hover {
    color: #888;
    cursor: pointer;
    text-decoration: none;
  }
  
  .header__weblang-sub-button a {
    color: var(--blue-vinuni-color);
  }

  .header__weblang-sub-list input:checked + label {
    background-color: var(--red-vinuni-color);
    color: var(--white-color);
  }

  @media (min-width: 740px) and (max-width: 1023px) {
    .wide {
      max-width: 740px;
    }
  }

  @media (max-width: 739px) {
    .wide {
      /* overflow: hidden; */
      max-width: 360px;
      padding-left: 3%;
    }

    .header__navbar-item {
      display: none;
    }
  
    .header__logo {
      height: 50px;
    }
  
    .header_logo-name {
      font-size: 1.4rem;
    }
  
    .header_logo-img {
      width: 30px;
    }

    .header__weblang-menu {
    right: 10%;
    }
  }