/* Mobile */

.search-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-color);
    padding: 0 8px;
    /* display: none; */
    animation: fadeIn ease 0.1s;
    z-index: 100;
    border-bottom: 1px solid var(--blue-vinuni-color);
  }
  
  .search-mobile-head-icon {
    font-size: 1.8rem;
    padding: 12px 18px;
    color: var(--red-vinuni-color);
    display: inline-block;
    position: absolute;
    z-index: 100;
    background-color: white;
  }
  
  .search-mobile-head-input {
    flex: 1;
    font-size: 1.6rem;
    padding: 0px;
  }
  
  .search-mobile-suggest {
    display: none;
  }
  
  .line-result-mobile {
    border-top-color: #c92127;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 0px 20px 0px 14px;
    padding-bottom: 4px;
  }
  